.footer {
  padding: 55px 0;
  &__container {
    height: 90px;
    display: grid;
    grid-template-areas:
      'logo .'
      'copyright contact';
  }
  &__contact {
    grid-area: contact;
    align-self: end;
    justify-self: end;

    p:first-child {
      margin-bottom: 7px;
    }
  }
  &__copyright {
    grid-area: copyright;
    align-self: end;
  }
  &__logo {
    grid-area: logo;
  }
}
