.header {
  padding: 25px 0;
  &__container {
    display: flex;
    align-items: center;
    gap: 20px 30px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__auth {
    display: flex;
    gap: 40px;
    &_none {
      display: none;
    }
    @include laptop {
      gap: 30px;
    }
  }

  &__logo {
    margin-right: 58px;
    @include laptop {
      margin-right: 38px;
    }
    @include tablet {
      margin-right: 0;
    }
  }
  &__search {
    margin-right: auto;
    @include tablet {
      order: 1;
    }
  }

  &__auth-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #e5c207;
    }
    &:active {
      color: #ffd600;
    }
    span {
      font-weight: 300;
    }
  }
  @include mobile {
    font-size: 0;
    gap: 0;
  }
}
